body{
    margin: 0;
}

.field{
    display: flex;
    flex-direction: column;
}

.singleFieldLine{
    display: flex;
    flex-direction: row;
}

.singleField{
    height: 24px;
    width: 24px;
    border: 2px solid gray;
    cursor: pointer;
}

.singleField:hover{
    border: 2px solid white;
}

.bomb_bg{
    background-color: red;
}

.empty_bg{
    background-color: green;
}

.bomb_near_bg{
    background-color: yellowgreen;
}

.flag{
    background-color: blue;
}